.App {
    max-width: 1200px;
    min-width: 400px;
    margin-inline: auto;

}

.content {
    padding: 10px;
}

.toolbar {
    margin-bottom: 2px;
    padding-inline: 20px;
    background-color: rgb(240, 240, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        padding: 2px 5px;
        margin: 5px 5px;
        background-color: rgba(255, 255, 224, 0.76);
        border-radius: 5px;
    }
}


.form-control {
    display: flex;
    align-items: center;

}

.form-control>label {
    display: inline-block;
    width: 150px;
}

.login-page,
.register-page {
    margin-inline: auto;

    border: 1px solid lightgray;
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

.animals {
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
    justify-content: center;
}

.animal-card {
    
    padding: 10px;
    height: 250px;
    display: grid;
    grid-template-rows: 4fr 2fr 1fr;
    gap: 15px;

    background-color: beige;
    border-radius: 15px;

    .image-wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        border-radius: 15px;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        img:hover {
            opacity: 0.8;
        }
    }
}

button {
    border-radius: 10px;
    border: 0;

    &:hover {
        font-weight: 700;
    }
}

.animal {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;

    .image-wrapper {
        grid-row-start: span 2;

        img {
            width: 100%;
        }
    }
}

.animals-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter-toolbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 10%;
    column-gap: 20px;
    row-gap: 10px;


    .filter-control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            padding-inline: 5px;
        }

        span {
            padding-inline: 10px;
        }
    }

}

.comments-wrapper {
    height: 100%;
    background-color: rgb(255, 244, 244);
    display: grid;
    grid-template-rows: 1fr 20px;

    .no-comments {
        align-self: center;
        font-size: xx-large;
    }


    .controls {
        display: grid;
        grid-template-columns: 4fr 1fr;

    }
}


.gallery {
    display: flex;
    flex-direction: column;
    gap: 5px;


    >.image-wrapper {
        display: flex;
        justify-content: space-between;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 300ms;
        height: 400px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;

        >.icon {
            background-color: rgba(255, 255, 255, 0.048);
            width: 50px;
            height: 100%;
            object-fit: contain;
            align-self: center;
            transition-duration: 0.15s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.389);
                transition-duration: 0.15s;
            }

            @media (max-width: 600px) {
                width: 30px;
            }
        }
    }

    >.small-pics {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;


        .image-wrapper {

            border-radius: 15px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 80px;
            max-height: 80px;

            &.selected-icon {
                opacity: 0.7;
                border: 2px outset
            }


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                transition-duration: 300ms;


                @media (max-width: 600px) {
                    max-width: 50px;
                    max-height: 50px;
                }

                @media (max-width: 400px) {
                    max-width: 30px;
                    max-height: 30px;
                }
            }
        }
    }
}

.animal-creation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-wrap: wrap;
}

.new-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .delete-new-photo {
        cursor: pointer;
        margin: 3px 10px;
        padding: 3px;
        border-radius: 15px;
        background-color: rgba(219, 106, 106, 0.267);
    }
}

.administration {
    .types {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;

        .create-type{
            min-width: 200px;
            
            .create-type-form{
                max-width: 200px;
                gap: 5px;
                display: flex;
                flex-direction: column;

                @media (max-width: 500px){
                    width: 100%;
                    max-width: none;
                }

                .form-control{
                    input{
                        width: 50%;
                        min-width: 100px;

                        @media (max-width: 500px){
                            width: auto;
                        }
                    }

                    .label {
                        @media (max-width: 500px){
                            width: auto;
                        }
                    }
                    @media (max-width: 500px){
                        width:auto;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }

                }
            }

        }

        .current-types {
            min-width: 200px;
            .types-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .type {

                    padding: 5px 10px;
                    background-color: hsl(350, 53%, 93%);
                    border-radius: 15px;

                    &:hover{
                        background-color: hsl(351, 95%, 85%);
                        cursor: pointer;
                    }
                }
            }
        }
        @media (max-width: 500px){
            grid-template-columns: 1fr;
        }
    }
}